body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #25193d;
    background-image: url("https://www.transparenttextures.com/patterns/fabric-of-squares.png");
    color: #fff;
    overflow: hidden;
    gap: 20px;
    cursor: url(../images/cursor_default.png) 8 10, auto;
    position: relative;
    font-family: "Galano Grotesque", Poppins, Montserrat, sans-serif;
}

.estrellas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
}

.estrella {
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    opacity: 0.7;
    animation: parpadeo 2s infinite ease-in-out, brillar 1.5s infinite alternate,
        flotar 10s infinite linear;
    box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.8);
}

@keyframes parpadeo {
    0% {
        opacity: 0.3;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.3;
    }
}

@keyframes brillar {
    0% {
        transform: scale(1);
        box-shadow: 0 0 10px 3px rgba(255, 255, 255, 1);
    }

    50% {
        transform: scale(1.2);
        box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.8);
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 10px 3px rgba(255, 255, 255, 1);
    }
}

@keyframes flotar {
    0% {
        transform: translateY(0) rotate(0deg);
    }

    100% {
        transform: translateY(-10px) rotate(360deg);
    }
}

header {
    position: absolute;
    top: 0;
    display: flex;
    width: 100%;
}

header img {
    width: 8%;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.container_Objetivos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.objetivos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ffffff;
    animation: animacionBrillo 3s infinite alternate;
}

.titulo_Objetivo{
    border: 1px solid #ffffff;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #6d1575;
}

.contenido_Objetivo{
    padding: 10px;
}

.contenedor_subObjetivos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    width: 100%;
}

.mensaje-instruccion {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    background: linear-gradient(45deg, #9e30a9, #f39ac8);
    padding: 10px 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 0px 20px rgba(158, 48, 169, 0.7);
    animation: mensajeParpadeo 2s infinite alternate;
}

@keyframes mensajeParpadeo {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.7;
    }
}

.carta-volteable {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 140px;
    background-image: url("../images/carta.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 0px 60px #9e30a9;
    animation: animacionBrillo 3s infinite alternate;
    cursor: pointer;
}

.carta-volteable:hover{
    transform: scale(1.1);
}

.click_cartas{
    display: inline-flex;
    gap: 30px;
}

.carta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 340px;
    background-color: #949390;
    background-image: url("https://www.transparenttextures.com/patterns/p6.png");
    border: 5px solid #7c7c79b9;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 0px 60px #9e30a9;
    animation: animacionBrillo 3s infinite alternate;
}

@keyframes animacionBrillo {
    0% {
        box-shadow: 0px 0px 70px #9e30a9;
    }

    25% {
        box-shadow: 0px 0px 80px #ffffff, 0px 0px 60px #424647;
    }

    50% {
        box-shadow: 0px 0px 90px #971fa2, 0px 0px 60px #30a9d7;
    }

    100% {
        box-shadow: 0px 0px 70px #2196f3, 0px 0px 50px #4a148c;
    }
}

.container_carta {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.img_container {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #494747;
    overflow: hidden;
}

.img_container img {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

.img_container_Ob {
    width: 100%;
    height: 80%;
    border-radius: 5px;
    border: 1px solid #494747;
    overflow: hidden;
}

.img_container_Ob img {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

.contenedor_baraja {
    position: absolute;
    right: 0;
    bottom: 0%;
    z-index: 1;
}

.baraja_inicio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 200px;
    height: 200px;
}

.carta_baraja {
    width: 90px;
    height: 130px;
    background-image: url("../images/carta.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    border: 2px solid #fff;
    border-radius: 8px;
    position: absolute;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.carta_baraja:hover {
    width: 95px;
    height: 135px;
    transform: scale(1.3);
}

.carta_baraja:nth-child(1) {
    transform: translateX(0px) rotate(0deg);
    z-index: 5;
}

.carta_baraja:nth-child(2) {
    transform: translateX(-10px) rotate(-2deg);
    z-index: 4;
}

.carta_baraja:nth-child(3) {
    transform: translateX(-20px) rotate(-4deg);
    z-index: 3;
}

.carta_baraja:nth-child(4) {
    transform: translateX(-30px) rotate(-6deg);
    z-index: 2;
}

.carta_baraja:nth-child(5) {
    transform: translateX(-40px) rotate(-8deg);
    z-index: 1;
}

.menu {
    display: none;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 30px;
}

.menu .ojo {
    position: absolute;
    top: 10%;
    z-index: 1;
}

.ojo .ojo_visto {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border: 3px solid #575550;
    animation: animacionBrillo 3s infinite alternate;
}

.ojo .ojo_visto img {
    width: 100%;
    cursor: pointer;
}

.menu .carta {
    margin-top: 12%;
    cursor: pointer;
    width: 200px;
    height: 320px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.menu .carta:hover {
    transform: scale(1.2);
}

.menu .titulo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu .titulo h3 {
    font-size: 0.8rem;
    text-transform: uppercase;
    height: 10px;
}

.titulo_Ob{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.titulo_Ob h3{
    font-size: 1rem;
    text-transform: uppercase;
    padding: 10px;
}


.contendedor_Carta {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.tecnologias {
    position: absolute;
    top: 93%;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 3px;
}

.tecnologias img {
    width: 8%;
}

.tecnologias #mysql {
    width: 14%;
}

.cartas_info{
    position: relative;
    bottom: 20%;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 50px;
    perspective: 1000px;
}

.info_texto{
    position: relative;
    top: 40%;
    display: none;
    flex-direction: column;
    width: 30%;
}

.info_texto hr{
    border-color: #9625a0;
    border-width: 5px;
    width: 100%;
    box-shadow: 0px 0px 70px #2196f3, 0px 0px 50px #4a148c;

}


.info_titulo h2{
    font-size: 2rem;
    padding: 0;
    margin: 0;
    text-shadow: 2px 2px 14px rgb(186, 161, 226);
}

.info_descripcion{
    width: 100%;
    padding: 10px;
    text-align: justify;
}

.carta_info{
    position: relative;
    width: 20%;
    perspective: 1000px;
    animation: recorrer .3s ease-in-out forwards;
}

.container_carta_info{
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s ease-in-out;
}

@keyframes recorrer {
    0%{
        right: 500px;
    }
    25%{
        right: 375px;
    }
    50%{
        right: 250px;
    }
    75%{
        right: 125px;
    }
    100%{
        right: 0;
    }
}

.carta_al_reves{
    right: 500px;
    background-image: url("../images/carta.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    border: 2px solid #fff;
    z-index: 1;
    transform: rotateY(0deg);
}

.carta_derecho{
    background-color: #949390;
    background-image: url("https://www.transparenttextures.com/patterns/p6.png");
    border: 5px solid #7c7c79b9;
    transform: rotateY(180deg);
}

.carta_al_reves, .carta_derecho{
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 340px;
    padding: 10px;
    box-shadow: 0px 0px 60px #9e30a9;
    animation: animacionBrillo 3s infinite alternate;
    border-radius: 5px;
    backface-visibility: hidden;
}

.carta_info.volteada .container_carta_info {
    transform: rotateY(180deg);
}